<h1>Welcome</h1>
<div class="outer">
    <a class="btn" id="login" target="login">Login</a>
    <a class="btn" id="register" target="_blank">Register</a>
</div>
<div class="outer2" target="inputForm"></div>
